.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*Home component css */

.navbar-logo{
  width: 10%;
  display: flex;
  margin: 0 0 0 10%;
}

.chosen {
text-decoration: none;
color: black;
margin: 5%;
}

.chosen:hover{
  border-bottom: 1px solid #F14B31;
}

.sign-up-btn{
  text-decoration: none;
}

/*End of Home component css */
